<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillas :: head">
        <title th:text="#{aplicacion.titulo}">Zapateria El Buen Precio</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
        <header th:replace="layout/plantillas :: header"/>
        <div class="contenido">
            <br/>
            <h2 th:text="#{usuario.titulo}">Usuarios</h2>
            <br/>
            <div th:if="${usuarios != null and !usuarios.empty}">
                <br/>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Direccion</th>
                            <th>Telefono</th>                            
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td>[[${usuario.nombre}]]</td>
                            <td>[[${usuario.correo}]]</td>
                            <td>[[${usuario.direccion}]]</td>
                            <td>[[${usuario.telefono}]]</td>
                            <td><a th:href="@{/usuario/elimina/} + ${usuario.idUsuario}">Elimina</a></td>
                            <td><a th:href="@{/usuario/actualiza/} + ${usuario.idUsuario}">Actualiza</a></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
            </div>
            <div th:if="${usuarios == null or usuarios.empty}">
                <h3 th:text="#{usuarios.no_mostrar}">No tenemos datos que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantillas :: footer"/>
    </body>
</html>

