<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantillas :: header"/>
        <div class="contenido">
            <h2>Datos de Usuarioss</h2>
            <a th:href="@{/usuarios/nuevo}">Nuevo Usuarios</a>  <!-- un url -->
            <div th:if="${usuarios != null and !usuarios.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td>[[${usuarios.nombre}]]</td>
                            <td>[[${usuarios.correo}]]</td>
                            <td>[[${usuarios.telefono}]]</td>
                            <td>[[${usuarios.telefono}]]</td>
                            <td><a th:href="@{/usuarios/elimina/} + ${usuarios.idUsuario}">Elimina</a></td>
                            <td><a th:href="@{/usuarios/actualiza/} + ${usuarios.idUsuario}">Actualiza</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${usuarios == null or usuarios.empty}">
                <h3>No tenemos usuarios que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantillas :: footer"/>
    </body>
</html>