<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillas :: head">
        <title th:text="#{aplicacion.titulo}">Zapateria El Buen Precio</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
        <header th:replace="layout/plantillas :: header"/>
        <div class="contenido">
            <br/>
            <h2 th:text="#{mujeres.titulo}">Mujeres</h2>
            <br/>
            <div th:if="${mujeres != null and !mujeres.empty}">
                <br/>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Talla</th>
                            <th>Color</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mujeres : ${mujeres}">
                            <td>[[${mujeres.cantidad}]]</td>
                            <td>[[${mujeres.talla}]]</td>
                            <td>[[${mujeres.color}]]</td>
                            <td>[[${mujeres.precio}]]</td>
                            <td>[[${mujeres.descripcion}]]</td>
                        </tr>
                    </tbody>
                </table>
                <br/>
            </div>
            <div th:if="${mujeres == null or mujeres.empty}">
                <h3 th:text="#{mujeres.no_mostrar}">No tenemos datos que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantillas :: footer"/>
    </body>
</html>