<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        
        <header th:fragment="header">
            <h1>...</h1>
        </header>
        
        <footer th:fragment="footer">
            <p>© 2022 – Zapatería Buen Precio – Todos los derechos reservados. Sitio desarrollado por Grupo 7</p>
        </footer>


    </body>
</html>