<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

    </head>
    <body>

        <header th:fragment="header" class="header">
            <nav class="nav">
                <a class="logo nav-link" th:href="@{/}">Zapateria El Buen Precio</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/usuario/listado}">Usuarios</a></li>             
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/mujeres/listado}">Mujeres</a></li>  
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/mujeres/listado}">Carrito</a></li>   
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/mujeres/listado}">Buscar</a></li>   
                </ul>
            </nav> 
        </header>

        <footer th:fragment="footer" class="footer">
            <p>&COPY; Derechos Reservados 2022, Creada por Grupo siete</p>
        </footer>


    </body>
</html>