header{
    text-align: center;
    background-color: #E9C03A;
    color: white;
}
article header{
    background-color: #E9C03A;
    color: white;
}
h2{
    font-size: 20px;
    text-align: initial;
    color: black;
}

h1{
    text-align: center;
    background-color: #E9C03A;
    color: white;
}

#titulo{
    background-color: #E9C03A;
    font-size: 44px; 
    color: black;
}

.producto{
    background-color: bisque;
}

nav a:hover{ /*mouse sobre el enlace*/
    background-color: #E9C03A;
    color: white;   
    font-size: 10px;
    animation-delay: 1s;
}

