<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillas:: head">
        <title th:text="#{aplicacion.titulo}">TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantillas :: header"/>
        <div class="container">
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>            
            <div class="row row-cols-3" th:if="${accesorios != null and !accesorios.empty}">
                <div class="card" th:each="accesorio : ${accesorios}" >  
                    <div class="card-body">
                        <img th:src="@{${accesorio.rutaImagen}}" width="120"/>
                        <h5 class="card-title">[[${accesorio.descripcion}]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-end">[[${new java.text.DecimalFormat('¢#,##0.00').format(accesorio.precio)}]]</h6>
                        <p class="card-text">[[${accesorio.color}]]</p> 
                        <form>
                        <input type="hidden" name="texto" th:value="${accesorio.idAccesorio}"/>
                        <button class="btn btn-ligth" id="addCar" name="addCar" onclick="addCard(this.form)"
                                type="button">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                    <p class="card-text">[[${accesorio.detalle}]]</p> 
                    </div>
                </div>                
            </div>
            <div th:if="${accesorios == null or accesorios.empty}"  th:text="#{accesorio.no_mostrar}">
                No tenemos lista de accesorioes que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantillas :: footer"/>
    </body>
</html>
