<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ZEBP</title>
        <meta charset="UTF-8"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a class="logo nav-link" href="index.html">Zapateria El Buen Precio</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="index.html">TODO</a></li>      
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="ejemplo2.html">INICIO</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Mujeres.html">MUJERES</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="hombres.html">HOMBRES</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="articulos.html">ACCESORIOS</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="modificarUsuario.html">CUENTA</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="formularios.html">SHOP</a></li>  
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="formularios.html">SEARCH</a></li>  
                </ul>
            </nav> 

        </header>
        <h2>Mujeres</h2>
        


        <footer th:replace="layout/plantillas :: footer"/>
    </body> 

</html>
