<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillas:: head">
        <title th:text="#{aplicacion.titulo}">TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>  
        <header th:replace="layout/plantillas :: header"/>
        <div class="contenido">
            <br/>
            <h2>Hombres</h2>
            <div th:if="${hombres != null and !hombres.empty}">
                <br/>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Talla</th>
                            <th>Color</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hombre:${hombres}">
                            <td>[[${hombre.cantidad}]]</td>
                            <td>[[${hombre.talla}]]</td>
                            <td>[[${hombre.color}]]</td>
                            <td>[[${hombre.precio}]]</td>
                            <td>[[${hombre.descripcion}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${hombres == null or hombres.empty}">
                <h3>No tenemos hombres que mostar</h3>  
            </div>
        </div>
        <footer th:replace="layout/plantillas :: footer"/>

    </body>
</html>
